nav {
  color: red !important;
  background: red !important;
  width: 80vw !important;
  border-radius: 0px 0px 18px 18px !important;
}
.navbarcont {
  color: red !important;
  position: absolute;
  z-index: 999;
  display: flex;
  width: 100vw !important;
  justify-content: center;
}
