.shadow {
  box-shadow: 5px 10px 18px red !important;
}
.shadow-large {
  box-shadow: 5px 10px 18px red;
}
#navbarround{
  box-shadow: 5px 10px 18px red !important;
}
@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    display: none;
    z-index: 999;
    animation: none;
    bottom: 0;
    height: 100%;
  }
  #mobile-menu-open,
  #mobile-menu-close {
    display: block;
  }
}
