.contact {
  display: flex;

  height: 100vh;

  display: flex;

  align-items: flex-end;

  position: absolute;
  height: 100vh;
}

.contact-backround {
  width: 50%;
  height: 80%;
  background-color: #303b60;

  clip-path: polygon(0% 0%, 47% 0, 100% 50%, 47% 100%, 0% 100%);

  position: absolute;
}

.contact-wrapper {
  height: 100vh;

  padding: 50px;
  display: flex;

  margin: 50px;
}
.contact-left {
  flex: 1;
}
.contact-right {
  flex: 1;
  padding-left: 150px;
}

.contact-header {
  width: 80%;
  font-size: 60px;
  font-weight: 400;
}

.contact-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background: #303b60;

}

.contact-info {
  display: flex;
  align-items: center;
  position: absolute;
  flex-direction: column;

  margin-top: 150px;
  margin-left: 75px;
}

.contact-info-item {
  display: flex;
  align-items: center;
  margin: 25px 0px;
  font-weight: 300;
  width: 70%;
  color: white;
}

.mail-header {
  width: 80%;
  height: 25%;
  font-size: 60px;
  font-weight: 400;
}

form {
  margin-top: 20px;
}

input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 2px solid #303b60;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
  border: 2px solid #303b60;
}

button {
  border: none;

  padding: 15px;
  background-color: #303b60;

  color: white;

  font-weight: 500;

  cursor: pointer;
}

a {
  color: white;
}


.contact-bottom {
  height: 50%;
  width: 80%;
  background-color: aliceblue;

  display: none;
}

@media screen and (max-width: 480px) {
  .contact {
    display: grid;

    align-items: flex-start;

    position: absolute;
    height: 100vh;
  }

  .contact-backround {
    height: 38%;
    width: 100%;
    margin-top: 80px;
    clip-path: polygon(0% 0%, 70% 0, 100% 50%, 68% 100%, 0% 100%);
  }

  .contact-wrapper {
    flex-direction: column;
    padding: 0px;
    margin: 0px;
  }

  .contact-right {
    height: 50%;
    padding-left: 0px;
    padding-bottom: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;

  }

  .contact-header {
    width: 80%;
    text-align: center;
    height: 10%;
    font-size: 40px;
    font-weight: 400;
  }

  .contact-info {
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: column;

    margin-top: 60px;
    margin-left: 5px;
  }

  .contact-info-item {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    font-weight: 300;
    width: 70%;
    color: white;
  }

  .mail-header {
    width: 80%;
    text-align: center;
    height: 10%;
    font-size: 40px;
    font-weight: 400;
  }

  .contact-bottom {
    height: 5%;
    width: 100%;
    background-color: white;

    display: flex;
    position: absolute;


   
  }

  form {
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;
    height: 40%;
  }

  input {
    width: 70%;
    height: 50px;
    border: none;
    border-bottom: 2px solid #303b60;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
  }

  textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 12px;
    padding-left: 10px;
    border: 2px solid #303b60;
  }

  button {
    border: none;

    padding: 15px;
    background-color: #303b60;

    color: white;

    font-weight: 500;

    cursor: pointer;
  }

  a {
    color: white;
  }
}
