nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #303b60;
  padding: 20px 80px;

  position: relative;
}
.FormControlLabelwrapper{color: white}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;

  transition: 0.5s ease-in-out;
}

#navbar li a:hover {
  color: black;
}

#mobile {
  display: none;
}
#mobile i {
  background-color: white;
}

.navbar-language {
  margin-top: 0px;
  margin-left: 10px;
  height: 50%;
  padding: 0px;
}

@media screen and (max-width: 480px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #303b60;
    padding: 20px 80px;

    position: relative;
  }

  #navbar {
    display: none;

    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: absolute;

    top: 90px;
    right: -300px;
    width: 300px;
    height: 50vh;
    background-color: #303b60;

    padding: 40px 0 0 10px;

    transition: 0.4s ease-in-out;
    

  }

  #navbar.active {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: absolute;

    top: 90px;
    right: -0px;
    width: 250px;
    height: 50vh;
    background-color: #303b60;

    padding: 40px 0 0 10px;

  

    

  }

  #navbar li {
    margin-bottom: 25px;
    position: relative;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 25px;
    cursor: pointer;
  }

#FormControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #303b60;

  padding: 0 20px;


  margin-left: -300px;

  position: relative;

  flex-direction: row;



}

}

#FormControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #303b60;

  padding: 0 200px;


  margin-right: 450px;

  position: relative;

  flex-direction: row;



}

.FormControlLabel {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 300;
  color: #fff;

 

  

}

#FormControlLabel:hover {
  color: black;
 

}
