.cardclass {
  height: calc(250px + 14.5vw);
}

.cardText {
  color: darkgrey
}

.carddiv {
  display: inline-block;
  width: calc(200px + 10vw);
  height: calc(300px + 10vw);
  margin: 0 auto;
}

.categoriestreep {
  width: 100%;
  height: 0.5vw;
  border-radius: 0vw 0vw 5px 5px;
  margin-bottom: -1px;
}




.categorierood {
  background: red;
}

.cardwrap {
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto;

  grid-gap: 2vw;
}

#yellowbg {
  background: gold;
}

.cardcont {
  width: 100vw;
  margin: 0 auto;
  display: flex;

  flex-direction: column;
}

@media only screen and (max-width: 1100px) {

  .cardwrap {
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2vw;
    padding: 0vw 10vw;
  }
}

@media only screen and (max-width: 700px) {

  .cardwrap {
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2vw;
    padding: 0vw 0vw;
  }
}